.vscode
.DS_Store
/*/.vscode
/*/DS_Store
*.o
/*/objects
/00/ex00/Megaphone
/00/ex01/Phonebook
/01/ex00/brainz
/01/ex01/moarbrainz
/01/ex02/thisisbrain
/01/ex03/violence
/01/ex04/seditor
/01/ex04/noread
/01/ex04/noread.*
/01/ex04/empty
/01/ex04/empty.*
/01/ex04/test
/01/ex04/test.*
/01/ex04/empty
/01/ex05/harl2
/02/*/fixed
/03/*/claptrap
/03/*/scavtrap
/03/*/fragtrap
/03/*/diamondtrap
/04/*/animal
/04/*/interface
/05/*/bureaucrat
/05/*/form
/05/*/form_v2
/05/*/intern
/06/*/convert
/06/*/serialize
/06/*/identify
/07/*/whatever
/07/*/iter
/07/*/array
/08/*/easyfind
/08/*/span
/08/*/mutantstack
/09/*/btc
/09/*/data.csv
/09/*/input.txt
/09/*/BitcoinExchange.csv
notes
